# LaTeX
*.aux
*.fdb_latexmk
*.fls
*.synctex.gz
*.log
*.out
*.swp
*.nav
*.snm
*.toc
*.xtr
deprecated/tex/aux
*.pdf
!deprecated/pdf/**/*.pdf
*.syncdb

# MacOS
*.DS_Store

# PreTeXt-CLI Build
output
!docs/*

# Copy of PreTeXt core for slides
slides/pretext
slides/slides.ptx
