# LaTeX
*.aux
*.fdb_latexmk
*.fls
*.synctex.gz
*.log
*.out
*.swp
*.nav
*.snm
*.toc
*.xtr
tex/aux
*.pdf
!pdf/**/*.pdf
*.syncdb



# MacOS
*.DS_Store

# exercises
exercises
ptx/source/exercises

# PreTeXt-CLI Build
ptx/output
