<exercise>
  <title><%= _title %> (ver. <%= _seed %>)</title>
  <statement>
    <p>Explain why the vectors <m><%= vlist %></m> span or don't span <m>\mathbb{R}^4</m>. 
	</p>
  </statement>
  <answer>
  <p> The vectors <m><%= vlist %></m> 
  	<% if spans  %> do <% else %> do not <% end %> 
	span <m>\mathbb{R}^4</m>.
  </p>
  </answer>
</exercise>
