<exercise>
  <title><%= _title %> (ver. <%= _seed %>)</title>
  <statement>
    <p>Explain why the vectors <m><%= vlist %></m> are or are not a basis of <m>\mathbb{R}^4</m>	</p>
  </statement>
  <answer>
  <p> The vectors <m><%= vlist %></m> 
  	<% if basis  %> are <% else %> are not <% end %> a basis of <m>\mathbb{R}^4</m>.
  </p>
  </answer>
</exercise>
