<exercise>
  <title><%= _title %> (ver. <%= _seed %>)</title>
  <statement>
    <p>Explain how to find the dimension of <me>W=\mathrm{span}\ \left\{<%= vlist %>\right\}.</me></p>
  </statement>
  <answer>
  <p> The dimension of <m>W</m> is  <m><%= dim %></m>.
  </p>
  </answer>
</exercise>
