<exercise>
  <title><%= _title %> (ver. <%= _seed %>)</title>
  <statement>
    <p>
      Show how to compute <m>\operatorname{RREF}(A)</m> given
      <m>A=<%= a %></m>.
    </p>
  </statement>
  <answer>
    <p><m><%= rref %></m></p>
  </answer>
</exercise>
