<exercise>
  <title><%= _title %> (ver. <%= _seed %>)</title>
  <statement>
    <p>
      Explain how to find the eigenvalues of the following <m>2\times 2</m> matrix:
    </p>
    <me><%=matrix%></me>
  </statement>

  <answer>
    <p><m><%=eigenvalues%></m></p>
  </answer>
</exercise>
