<exercise>
  <title><%= _title %> (ver. <%= _seed %>)</title>
  <statement>
    <p>
      Of the following three matrices, only two may be multiplied.
    </p>
    <me><%=matrices%></me>
    <p>
      Explain which two may be multiplied and why. Then show how to find their product.
    </p>
  </statement>

  <answer>
    <me><%= product %></me>
  </answer>
</exercise>
