<exercise>
  <title><%= _title %> (ver. <%= _seed %>)</title>
  <statement>
    <p>
      Explain why the following matrix is or is not invertible.
    </p>
    <me><%=matrix%></me>
  </statement>

  <answer>
    <p>This matrix is <% if invertible %>not <% end %>invertible.</p>
  </answer>
</exercise>
