<exercise>
  <title><%= _title %> (ver. <%= _seed %>)</title>
  <statement>
    <p>
      Show how to compute the inverse of the following invertible matrix.
    </p>
    <me>A=<%=matrix%></me>
  </statement>

  <answer>
    <me>A^{-1}=<%=inverse%></me>
  </answer>
</exercise>
