<exercise>
  <title><%= _title %> (ver. <%= _seed %>)</title>
  <statement>
    <p>Explain why the set of vectors <m>\left\{<%= vlist %>\right\}</m> is linearly dependent or linearly independent.	</p>
  </statement>
  <answer>
  <p> The set <m>\left\{<%= vlist %>\right\}</m> is 
  	<% if independent  %> linearly independent <% else %> linearly dependent <% end %> .
  </p>
  </answer>
</exercise>
